<section data-ng-controller="IndexController">
	<h1 mean-token="'home-default'">Cite</h1>
	Please cite
	<ul>
		<li>Robert Mans, Harmen M. van Rossum, Melanie Wijsman, Antoon Backx, Niels G.A. Kuijpers, Marcel van den Broek, Pascale Daran-Lapujade, Jack T. Pronk, Antonius J.A. van Maris, Jean-Marc G. Daran (2015) CRISPR/Cas9: a molecular Swiss army knife for simultaneous introduction of multiple genetic modifications in <i>Saccharomyces cerevisiae</i>. <i>FEMS Yeast Research</i> <b>16</b>. 
		<a href="http://femsyr.oxfordjournals.org/cgi/reprint/fov004?ijkey=zGJzsH4MbNfwSzd&keytype=ref" target="_blank"><i class="fa fa-external-link"></i> http://femsyr.oxfordjournals.org/cgi/reprint/fov004?ijkey=zGJzsH4MbNfwSzd&ampkeytype=ref</a></li>
	</ul> 
</section>