<div data-ng-controller="ContactController">
	<h1>Contact</h1>
    <div class="alert alert-danger animated fadeIn" ng-show="contacterror">{{contacterror}}</div>
    <div class="alert alert-info animated fadeIn" ng-show="contactmessage">{{contactmessage}}</div>
    <form ng-submit="contact()" class="signin form-horizontal" ng-hide="contactmessage">
        <div class="form-group">
            <label for="email" class="col-md-3 control-label">Email</label>
            <div class="col-md-9">
                <input required id="email" type="email" name="email" placeholder="Email" class="form-control" ng-model="email"/>
            </div>
        </div>
        <div class="form-group">
            <label for="message" class="col-md-3 control-label">Message</label>
            <div class="col-md-9">
                <textarea required name="message" class="form-control" ng-model="message">
                </textarea> 
            </div>
        </div>
         <div class="form-group">
         <div class="col-md-3"> </div>
          <div class="col-md-9">
        <no-captcha
		    g-recaptcha-response="gRecaptchaResponse"
		    theme='light'
		    site-key="6Lc8PQQTAAAAAJno2M6Lj2Df2XGfb8Rl1HpYRNdB">
		</no-captcha>
		</div>
		</div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-primary">Send message</button>
            </div>
        </div>

    </form>
</div>
